.field {
  position: relative;
  width: 100%;
  &__input {
    width: 100%;
    border-radius: 5px;
    border: 1px solid rgb(55 65 81);
    padding: 10px 20px;
    background: rgb(55 65 81);
    font-size: 14px;
    font-weight: 600;
    outline: none;

    &::placeholder {
      font-size: 16px;
      font-weight: 600;
    }
    &--black {
      color: #ffffff;
    }
  }

}
