.signup {
  width: 1440px;
  height: 719px;
  margin: 60px auto;
  display: flex;
  justify-content: flex-start;

  &__title {
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  &__form {
    border-radius: 11.672px 0 0 11.672px;
    border: 1.167px solid #FFF;
    width: 722px;
  }
}
