@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.70) 0%, rgba(0, 0, 0, 0.70) 100%), url('') lightgray 50% / cover no-repeat;
  color: #fff;
}

.container {
  max-width: 1728px;
  margin: 0 auto;
  padding: 0 144px 0 144px;
}

.gray {
  color: rgba(255, 255, 255, 0.50);
}